#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );

  min-height: 100vh;
  height: 100vh;
  color: $white-color;
  height: 100%;
  border-top: 0px;
  padding-bottom: 12rem;
  padding-top: 10rem;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
    padding-bottom: 1rem;
  }

  .section-title {
    margin-bottom: 4rem;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

    &__card {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        padding-bottom: 6.4rem;
      }
      @include respond(tab-land) {
        height: 100%;
      }
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      @include respond(phone) {
        align-items: center;
      }

      &-text {
        text-align: left;

        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: center;
        }
        @include respond(phone) {
          font-size: 1.6rem;
          text-align: center;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }

  .chevron-down-about {
    display: flex;
    justify-content: center;
    padding: 5rem 0.2rem;
    width: 100%;
    padding-top: 5rem;

    @include respond(tab-land) {
      padding-top: 4rem;
    }

    @include respond(tab-port) {
      padding-top: 8rem;
    }

    @include respond(phone) {
      padding-top: 4rem;
    }

    @include respond(phone-xs) {
      padding-top: 4rem;
    }
  
    & svg {
      position: relative;
      animation: updown 3s infinite;
      animation-timing-function: ease-in-out;
  
      &:hover {
        cursor: pointer;
      }
    }
  }

  @keyframes updown {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
  }
}
